# import libraries

In [2]:
# Version:
# --Python 3.8.5-- 
# autoviz==0.0.81
# numpy==1.19.3
# openpyxl==3.0.5
# pandas==1.2.0
#pandas-profiling==2.9.0

import numpy as np 
import pandas as pd
from pandas_profiling import ProfileReport
from autoviz.AutoViz_Class import AutoViz_Class

### Load DataFrame and store it in a variable called "df"

In [6]:
df=pd.read_excel('data.xlsx',engine='openpyxl')
pd.options.display.max_rows = 10000

In [8]:
#Inspeact first 5 rows of the DataFrame
df.head(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468

## Explore Dataset

In [9]:
# Basic Info about DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3312 non-null   int64
 1   Order ID       3312 non-null   object
 2   Order Date     3312 non-null   datetime64[ns]
 3   Ship Mode      3312 non-null   object
 4   Customer ID    3312 non-null   object
 5   Customer Name  3312 non-null   object
 6   Segment        3312 non-null   object
 7   Country        3312 non-null   object
 8   City           3312 non-null   object
 9   State          3312 non-null   object
 10  Postal Code    3312 non-null   int64
 11  Region         3312 non-null   object
 12  Product ID     3312 non-null   object
 13  Category       3312 non-null   object
 14  Sub-Category   3312 non-null   object
 15  Product Name   3312 non-null   object
 16  Sales          3312 non-null   float64
 17  Quantity       3312 non-null   int64
 18  Discount       3312 non-null   float64
 19  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 349.4+ KB

In [12]:
# Basic random sampleing about DataFrame
df.sample(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2066,6366,CA-2017-144848,2020-04-04,First Class,DS-13030,Darrin Sayre,Home Office,United States,New York City,New York,10009,East,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,41.220,1,0.0,11.1294
2192,6657,CA-2017-135937,2020-02-20,Standard Class,KM-16375,Katherine Murray,Home Office,United States,Gilbert,Arizona,85234,West,OFF-ST-10000563,Office Supplies,Storage,Fellowes Bankers Box Stor/Drawer Steel Plus,51.168,2,0.2,-6.3960
1331,4165,US-2017-106131,2020-01-14,First Class,TP-21565,Tracy Poddar,Corporate,United States,Aurora,Colorado,80013,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,169.064,7,0.2,-14.7931

In [13]:
# Describe Method
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Row ID,3312.0,5087.107488,2817.482266,13.0000,2655.7500,5183.5000,7498.250000,9994.0000
Postal Code,3312.0,56186.515097,31980.375516,1841.0000,27978.7500,60472.5000,90032.000000,99301.0000
Sales,3312.0,221.381418,585.257531,0.4440,17.0180,53.8100,205.105700,13999.9600
Quantity,3312.0,3.766908,2.221776,1.0000,2.0000,3.0000,5.000000,14.0000
Discount,3312.0,0.156467,0.207429,0.0000,0.0000,0.2000,0.200000,0.8000
Profit,3312.0,28.212340,241.864342,-3839.9904,1.7632,8.2968,28.315125,6719.9808

In [14]:
#Get a view of unique values in column, e.g. 'Ship Mode'
df['Ship Mode'].unique()

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

In [15]:
# Get a view of unique values in column, e.g. 'Sub-Category'
df['Sub-Category'].unique()

array(['Paper', 'Chairs', 'Phones', 'Storage', 'Binders', 'Furnishings',
       'Accessories', 'Labels', 'Art', 'Fasteners', 'Envelopes',
       'Appliances', 'Tables', 'Copiers', 'Bookcases', 'Supplies',
       'Machines'], dtype=object)

In [16]:
#check misssing Value
df.isnull().sum()
#df.isnull().sum().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## Automated Reports

In [ ]:
# Generate Pandas Profiling Report
profile = ProfileReport(df, title="Sales Profiling Report")

# View in Notebook
profile.to_widgets()

In [ ]:
# Export Pandas Profiling Report to HTML
profile.to_file("output/Salesreport.html")

## Auto Viz Report

In [ ]:
AV = AutoViz_Class()
df_autoviz = AV.AutoViz('data.xlsx')